body {
    margin: 5%;
    text-align: center;
}

.container {
    display: inline-block;
    text-align: center;

    width: 50%;
}

.container div, h1, h2, h3 {
    margin-top: 2%;
    text-align: center;
}

.player-list {
    margin-top: 2%;
    display: inline-block;
    width: 65%;
}

body {
    background-color: aquamarine;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

