<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gameplay Mockup</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/gameplay.css">
    </head>
    <body>
        <div class="pregame-form-wrapper" style="display:none">
            <form class="pregame-form username-form">
                <div class="form-group">
                    <input type="text" id="username-prompt" placeholder="Player Name">
                </div>
                <div class="form-group">
                    <button type="button" id="submit-username">Submit</button>
                </div>
            </form>
            <form class="pregame-form game-form" style="display:none">
                <div class="form-group">
                    <input type="number" id="code-prompt" placeholder="Game Code">
                </div>
                <div class="form-group">
                    <button type="button" id="submit-code">Enter Game</button>
                    <button type="button" id="game-back-button">Back</button>
                </div>
            </form>
        </div>
        <div class="game-screen-wrapper">
            <div class="game-screen">
                <video id="camera-preview"></video>
                <div class="info-container">
                    <div class="info-box">
                        <div class="event-feed">
                            Content 1
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="score-feed">
                            Score: N
                        </div>
                        <div class="time-feed">
                            Time: 01:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es6,fetch"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/js/instascan.min.js"></script>
        <script type="text/javascript" src="/static/js/gameplay.js" charset="utf-8"></script>
    </body>
</html>
