<!DOCTYPE HTML>
<html>
<head>
    <title>Generate Lobby Code</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>
<body>
<h1>Generate Lobby Code</h1>

<br>

<h1 id='GameCode'></h1>
<br>


<form id="start_room" >
    <input type="submit" value="Set up Room Name" id="start_room_submit">
</form>

<form id="end_room" >
    <input type="hidden" value="Kill Room" id="kill_room_submit">
</form>

    <input type="hidden" value="" id="game_room_id">


<script>



    $("#start_room_submit").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'new_game',
            success: function (data) {
                document.getElementById("start_room").start_room_submit.type = "hidden";
                document.getElementById("GameCode").innerHTML = " Your Game Code!: " + data.game_id;
                document.getElementById("game_room_id").value = JSON.stringify(data);
                document.getElementById("end_room").kill_room_submit.type = "submit";

            }
        });
    });

        $("#kill_room_submit").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: document.getElementById("game_room_id").value,
            url: 'end_game',
            success: function (data) {
                document.getElementById("start_room").start_room_submit.type = "submit";
                document.getElementById("GameCode").innerHTML = "";
            }
        });
    });


</script>

<!--<div id="log"></div>-->
</body>
</html>
