<!DOCTYPE html>
<html lang="en">
<head>
<style>
img {
    width: 60%;
    height: auto;}

</style>
<body background="images/outerspace.jpg">
<center>
  <img src="file:/images/title.png">

</head>


<br>

 <img src="images/zap.png">

<br><br><br>

    <meta charset="UTF-8">
    <title>Title</title>


     <a href="/gen_code"><img border="0" alt=“Generate Room” src="images/generate.png"></a>
<br>

     <a href="/join_room"><img border="0" alt=“Join Room“ src="images/join.png"></a>
</center>
</body>
</html>
