<!DOCTYPE HTML>
<html>
<head>
    <title>Lobby</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

</head>
<body>
<h1>Lobby</h1>

<br>

<h1 id='GameCode'></h1>


<form id="join" method="POST" action='#'>
    <input type="input" name="join_room" id="join_room_input" placeholder="Insert Your Game Code Here">
    <input type="submit" value="Join Room" id="join_room_button">
</form>

<form id="leave" method="POST" action='#'>
    <input type="hidden" name="leave_room" id="leave_room_input" placeholder="Room Name">
    <input type="hidden" value="Leave Room" id="leave_room_button">
</form>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        namespace = '/game';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function () {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });


        socket.on('my_response', function (msg) {
            $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
        });

        $('form#join').submit(function (event) {
            socket.emit('join', {room: $('#join_room_input').val()},);
            document.getElementById("leave").leave_room_button.type = "submit";
            document.getElementById("GameCode").innerHTML = document.getElementById("join").join_room_input.value;
            document.getElementById("join").join_room_button.type = "hidden";
            document.getElementById("join").join_room_input.type = "hidden";
            return false;
        });

        $('form#leave').submit(function (event) {
            socket.emit('join', {room: $('#leave_room_input').val()},);
            document.getElementById("GameCode").innerHTML = "";
            document.getElementById("join").join_room_button.type = "submit";
            document.getElementById("join").join_room_input.type = "input";
            document.getElementById("leave").leave_room_button.type = "hidden";
            return false;
        });
    });

</script>

<script type="text/javascript" src="/static/js/llqrcode.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="/static/js/webqr.js"></script>

<div id="scanner">

<div id="mainbody">
<table class="tsel" border="0" width="100%">
<tr>
<td valign="top" align="center" width="50%">
<table class="tsel" border="0">
<tr>
<tr><td colspan="2" align="center">
<div id="outdiv">
</div></td></tr>
</table>
</td>
</tr>
<tr><td colspan="3" align="center">
</td></tr>
<tr><td colspan="3" align="center">
<div id="result"></div>
</td></tr>
</table>
<!-- webqr_2016 -->

</div>&nbsp;

</div>
<canvas id="qr-canvas" width="800" height="600"></canvas>
<script type="text/javascript">load();</script>
<div id="log"></div>
</body>
</html>
